.section1 {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.87), 
    rgba(51, 51, 51, 0.87));
    background-image: url(./pic/bgc.png);
    background-size: cover;
    width: 1920px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
     
}
.block1 {
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    width: 1110px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menutext {
color: white;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
}
.menulogo {
    width: 216px;
    height: 52px;
    margin-right: 50px;
    margin-left: 120px;
}
.menubutton {
    background-color: transparent;
    border: none;
}
.menusearch {
border: none;
background-color: transparent;
width: 50px;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
color: #FFFFFF;

}
.block2 {
    width: 1110px;
    height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 80px;
}
.textblock2 {
      width: 730px;
    height: 49px;
 
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-family: 'Noto Serif';
    font-weight: 700;

    }
.button_block2_izdelia {

    border: 1px solid white;
    width: 261px;
    height: 51px;
    background-color: transparent;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

}
hr{
    width: 100%;
    margin-bottom: 15px;
}
.block3 {
    
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_block3 {
    border-right: 1px solid white;
    border-left: 1px solid white;
    margin-top: 10px;
    padding-right: 10px;
}

.section2 {
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 120px;
    margin: 0;
}
.text1_section2 {
    width: 350px;
    height: 29px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
}
.text2_section2 {
    width: 540px;
    height: 41px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    margin-top: 15px;
}
.block4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    margin-top: 60px;
}
.button_active_block4 {

width: 165px;
height: 61px;
left: 405px;
top: 1195px;
background: #333333;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}
.button_block4 {

background: #F9F9F9;
border: 1px solid #D6D6D6;
box-sizing: border-box;
width: 171px;
height: 61px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #333333;
}
.block5 {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 55px;
}
.itemblock5 {
    width: 350px;
    height: 280px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
}
.text_block5 {
    position: absolute;
    margin-bottom: 30px;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}
.section3 {
    box-sizing: border-box;
    width: 1920px;
    height: 541px;
    background: url(./pic/Rectangle\ 6.png), #333333;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.text1_section3 {
   
width: 350px;
height: 29px;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 140%;
text-align: center;
color: #FFFFFF;
}
.text2_section3 {
    width: 540px;
    height: 41px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}
.text3_section3 {
    width: 730px;
    height: 100px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;

}
.button_section3 {

    flex-direction: row;
    align-items: center;
    width: 224px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #333333;
    box-sizing: border-box;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
}
.section4 {
    width: 1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 135px;
}
.text1_section4 {
  
    width: 350px;
    height: 29px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
}
.text2_section4 {
    width: 1110px;
    height: 41px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
}
.items_section4 {
    width: 1110px;
    height: 370px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.item1_section4 {
    width: 350px;
    height: 370px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.text_item_section4 {
    position: absolute;
    color: white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 35px;
    width: 60%;
}
.button_section4 {
    width: 255px;
    height: 51px;
    box-sizing: border-box;
    background-color: #333333;
    border: 1px solid white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;

}

.section6{
    position: relative;
    width: 1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    
}
.link_section6 {
    height: 29px;
    color: #333333;
    font-family: Gilroy;
    font-size: 21px;
    line-height: 140%;
    margin-bottom: 15px;  
    text-decoration: none; 
    justify-content: center;
}
.text3_section6 {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #333333;
    margin-bottom: 60px;
}
.gallery_section6 {
    width: 1110px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.video_fallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play_video {
    position: absolute;
    background-color: transparent;
    border: none;
}
.section5 {
    width: 1920px;
    height: 478px;
    background-image: url(./pic/Rectangle\ 6.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  
}
.text1_section5 {
    width: 920px;
    height: 29px;
    color: white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 15px;
  }
.text2_section5 {
    width: 1110px;
    height: 41px;
    color: white;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 15px;
    
}
.items_section5 {
    width: 1110px;
    display: flex;
    justify-content: center;
    height: 113px;
}
.email_section5 {
    margin-top: 40px;
    width: 448px;
   }

.links-items5{
margin-right: 80px;

}

ul{
    list-style-image: url(./pic/subscribe__icon.svg);
    color: white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;   
}
.email {
    width: 418px;
    height: 85px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #D6D6D6;

}

.email_input{
    width: 200px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #D6D6D6;
    background-color: white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.5);
}
.button_section5{
    width: 159px;
    height: 45px;
    box-sizing: border-box;
    background-color: #333333;
    border: 1px solid white;
    color: white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.footer {
    width: 1920px;
    height: 395px;
    box-sizing: border-box;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data1_footer {

    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}
.items_footer {
    width: 255px;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.big_text_footer {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 10px;
}
.small_text_footer {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-top: 15px;
}
.logo_footer {
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}
.contacts {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    width: 255px;
    height: 21px;
    
}
.img_contacts {
    margin-right: 20px;
}
.logo1_footer {
    width: 193px;
    display: flex;
    justify-content: space-between;
    margin-top: 27px; 
}
.line_footer {
    width: 1110px;
}
.data2_footer {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.text_footer {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-top: 15px;
}